
.page-header {
    color:#37bff5;
    padding: 25px;
}

.container {
    padding: 70px;
    margin: 50px;
}

article {
    background-color: white;
    padding: 10px;
}

body {
    background-image: url("./Assets/Images/background3.jpg");
}

.bg-light {
    background-color: #37bff5 !important;
}

figure {
    padding: 50px;
}

form {
    background-color: white;
    width: 50%;
    margin: 20px;
    padding: 50px;
}